<div class="container">

  <h2><%= @workout.workout %></h2>
  <h3><%= @workout.length %><br>
  <%= @workout.date.to_formatted_s(:short) %></h3>

    <%= link_to "Back", root_path %> |
    <%= link_to "Edit", edit_workout_path(@workout) %> |
    <%= link_to "Delete", workout_path(@workout), method: :delete, data: { confirm: "Are you sure?" } %>
</div>
