<!DOCTYPE html>
<html>
<head>
  <title>FitLog</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>
<body>

  <nav class="navbar navbar-inverse">
    <a class="navbar-brand" href="/workouts">FitLog</a>
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to current_user.email, users_path %></li>
          <li><%= link_to "Edit", edit_user_path(current_user) %></li>

          <li><%= link_to "Logout", logout_path, {method: "DELETE"} %></li>
        <% else %>
          <li><%= link_to "Login", new_session_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <% if logged_in? %>
          <li><%= link_to "Add a workout", new_workout_path %></li>
        <% end %>
      </ul>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <% flash.each do |message_type, message| %>
           <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <ul>
        <li>Copyright (c) 2016 by Shahrooz Hedayati. All Rights Reserved.</li>
      </ul>
    </nav>

</body>
</html>
